body
{
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
}

.main
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-text 
{
	width: max-content;
	border: 1px solid red;
}